[submodule "Vmr.Dependency1"]
	path = src
	url = https://dogtail.visualstudio.com/DefaultCollection/VirtualMonoRepo/_git/Vmr.Dependency1
[submodule "Vmr.Dependency2"]
	path = src
	url = https://dogtail.visualstudio.com/DefaultCollection/VirtualMonoRepo/_git/Vmr.Dependency2
[submodule "Vmr.Service1"]
	path = src
	url = https://dogtail.visualstudio.com/DefaultCollection/VirtualMonoRepo/_git/Vmr.Service1
